:root {
  --white: white;
  --black: black;
  --light-gray: #d9d9d9;
  --blue: #646cff;
  --yellow: #ffbd2e;
  --red: #ff5f56;
  --green: #27c93f;
  --dark-blue: #131820;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
